<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng Calcualor</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>

</head>
<body ng-app="ng-calc" class="container-fluid">
<div class="container" ng-controller="CalculatorController">
	<h3> Angular Simple Calculator</h3>
	<div class="row" >
    <div class="col-md-12">

		   <div class="col-lg-6">   <input type="text" class=" col-lg-2 form-control" ng-model="result" /> 
           <div class="row">
           	<input type="button" class="btn"  ng-model="one" ng-click="cClick(1)" ng-value="1" />
			<input type="button" class="btn"  ng-model="t" ng-click="cClick(2)" ng-value="2" />
			<input type="button" class="btn"  ng-model="th" ng-click="cClick(3)" ng-value="3" />
            <input type="button" class="btn" ng-model="sub" ng-click="optf('*')" ng-value="'*'" />
			</div>
            <div class="row">
            <input type="button" class="btn"  ng-model="f" ng-click="cClick(4)" ng-value="4" />
            <input type="button" class="btn"  ng-model="fi" ng-click="cClick(5)" ng-value="5" />
            <input type="button" class="btn"  ng-model="sx" ng-click="cClick(6)" ng-value="6" />
            <input type="button" class="btn" ng-model="sub" ng-click="optf('-')" ng-value="'-'" />
            </div>
            <div class="row">
            <input type="button" class="btn"  ng-model="sv" ng-click="cClick(7)" ng-value="7" />
            <input type="button" class="btn"  ng-model="e" ng-click="cClick(8)" ng-value="8" />
            <input type="button" class="btn"  ng-model="ni" ng-click="cClick(9)" ng-value="9" />
            <input type="button" class="btn" ng-model="sub" ng-click="optf('/')" ng-value="'/'" />
            </div>
			<div class="row">
                        <input type="button" class="btn" ng-model="z" ng-click="cClick(0)" ng-value="0" />
                        <input type="button" class="btn" ng-model="add" ng-click="optf('+')" ng-value="'+'" />
                       <input type="button" class="btn" ng-model="res" ng-click="rest()" ng-value="'='" />
            </div>
            
            
			
            

    

                                                            
    </div>
    
</div>
</div>

<script src="app.js"></script>

</body>
</html>
